In [1]:
import os
import numpy as np
import pandas as pd

pd.set_option('display.float_format', lambda x: f'{x:.2f}')

In [2]:
os.getcwd()

'C:\\Users\\user\\Documents\\project\\code'

In [3]:
os.chdir(path = '../data')

In [4]:
os.listdir()

['APT_Detail_Seoul_2024.csv',
 'APT_Detail_Seoul_2024.xlsx',
 'APT_List.pkl',
 'APT_Price_Seoul(2020~2024).xlsx',
 'APT_Price_Seoul_2020.csv',
 'APT_Price_Seoul_2021.csv',
 'APT_Price_Seoul_2022.csv',
 'APT_Price_Seoul_2023.csv',
 'APT_Price_Seoul_2024.csv',
 'KBO_Hitter_Stats_2024.csv',
 'KBO_Pitcher_Stats_2024.csv',
 'MPRC_2024.csv',
 'MPRC_2024.xlsx',
 'MPRC_List.xlsx',
 'MPRC_List_2.xlsx',
 'NA_Sample.xlsx']

In [5]:
apt = pd.read_pickle('APT_List.pkl')

In [6]:
apt.head()

,거래금액,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,등기일자,매도자,전용면적,층
0,100500,11680,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,NaT,NaN,39.53,13
1,203000,11680,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,NaT,NaN,134.30,17
2,180000,11680,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,NaT,NaN,60.13,14
3,285000,11680,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,NaT,NaN,94.29,12
4,171000,11680,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,NaT,NaN,60.76,2

In [7]:
apt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231904 entries, 0 to 231903
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   거래금액    231904 non-null  int64
 1   지역코드    231904 non-null  int64
 2   아파트     231904 non-null  object
 3   시도명     231904 non-null  object
 4   시군구     231904 non-null  object
 5   법정동     231904 non-null  object
 6   지번      231904 non-null  object
 7   건축년도    231904 non-null  int64
 8   년       231904 non-null  int64
 9   월       231904 non-null  int64
 10  일       231904 non-null  int64
 11  등기일자    79535 non-null   datetime64[ns]
 12  매도자     56193 non-null   object
 13  전용면적    231904 non-null  float64
 14  층       231904 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(6)
memory usage: 26.5+ MB

In [8]:
apt.isna().sum()

거래금액         0
지역코드         0
아파트          0
시도명          0
시군구          0
법정동          0
지번           0
건축년도         0
년            0
월            0
일            0
등기일자    152369
매도자     175711
전용면적         0
층            0
dtype: int64

In [9]:
apt = apt.dropna(axis = 1)
apt.shape

(231904, 13)

In [10]:
apt = apt.drop(columns = '지역코드')
apt.head()

     거래금액       아파트    시도명  시군구  법정동    지번  건축년도     년  월   일   전용면적   층
0  100500   삼익대청아파트  서울특별시  강남구  개포동    12  1992  2020  1  31  39.53  13
1  203000      개포자이  서울특별시  강남구  개포동  12-2  2004  2020  1   6 134.30  17
2  180000   개포주공6단지  서울특별시  강남구  개포동   185  1983  2020  1  14  60.13  14
3  285000  디에이치아너힐즈  서울특별시  강남구  개포동  1281  2019  2020  1   4  94.29  12
4  171000   개포주공7단지  서울특별시  강남구  개포동   185  1983  2020  1  12  60.76   2

In [12]:
apt.columns = ['거래금액', '단지명', '시도명', '시군구', '법정동', '지번', 
               '입주년도', '계약년도', '계약월', '계약일', '전용면적', '층']

In [13]:
apt.head()

     거래금액       단지명    시도명  시군구  법정동    지번  입주년도  계약년도  계약월  계약일   전용면적   층
0  100500   삼익대청아파트  서울특별시  강남구  개포동    12  1992  2020    1   31  39.53  13
1  203000      개포자이  서울특별시  강남구  개포동  12-2  2004  2020    1    6 134.30  17
2  180000   개포주공6단지  서울특별시  강남구  개포동   185  1983  2020    1   14  60.13  14
3  285000  디에이치아너힐즈  서울특별시  강남구  개포동  1281  2019  2020    1    4  94.29  12
4  171000   개포주공7단지  서울특별시  강남구  개포동   185  1983  2020    1   12  60.76   2

In [14]:
apt['평당금액'] = apt['거래금액'] / apt['전용면적'] * 3.3
apt['거래금액'] = apt['거래금액'] / 10000
apt['경과년수'] = apt['계약년도'] - apt['입주년도']
apt.head()

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수
0,10.05,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13,8389.83,28
1,20.30,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17,4988.09,16
2,18.00,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14,9878.60,37
3,28.50,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12,9974.55,1
4,17.10,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2,9287.36,37

In [15]:
str_join = lambda x: ' '.join(x)

In [18]:
cols = ['시도명', '시군구', '법정동', '지번']

In [20]:
apt['주소'] = apt[cols].apply(func = str_join, axis = 1)

In [21]:
apt.head()

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,주소
0,10.05,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13,8389.83,28,서울특별시 강남구 개포동 12
1,20.30,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17,4988.09,16,서울특별시 강남구 개포동 12-2
2,18.00,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14,9878.60,37,서울특별시 강남구 개포동 185
3,28.50,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12,9974.55,1,서울특별시 강남구 개포동 1281
4,17.10,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2,9287.36,37,서울특별시 강남구 개포동 185

In [22]:
cols = ['계약년도', '계약월', '계약일']

In [23]:
apt[cols] = apt[cols].astype(str)
apt.dtypes

거래금액    float64
단지명      object
시도명      object
시군구      object
법정동      object
지번       object
입주년도      int64
계약년도     object
계약월      object
계약일      object
전용면적    float64
층         int64
평당금액    float64
경과년수      int64
주소       object
dtype: object

In [24]:
str_join = lambda x: '-'.join(x)

In [25]:
apt['계약일자'] = apt[cols].apply(func = str_join, axis = 1)
apt.head()

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,주소,계약일자
0,10.05,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13,8389.83,28,서울특별시 강남구 개포동 12,2020-1-31
1,20.30,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17,4988.09,16,서울특별시 강남구 개포동 12-2,2020-1-6
2,18.00,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14,9878.60,37,서울특별시 강남구 개포동 185,2020-1-14
3,28.50,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12,9974.55,1,서울특별시 강남구 개포동 1281,2020-1-4
4,17.10,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2,9287.36,37,서울특별시 강남구 개포동 185,2020-1-12

In [26]:
apt['계약일자'] = apt['계약일자'].astype('datetime64[ns]')
apt.dtypes

거래금액           float64
단지명             object
시도명             object
시군구             object
법정동             object
지번              object
입주년도             int64
계약년도            object
계약월             object
계약일             object
전용면적           float64
층                int64
평당금액           float64
경과년수             int64
주소              object
계약일자    datetime64[ns]
dtype: object

In [27]:
os.listdir()

['APT_Detail_Seoul_2024.csv',
 'APT_Detail_Seoul_2024.xlsx',
 'APT_List.pkl',
 'APT_Price_Seoul(2020~2024).xlsx',
 'APT_Price_Seoul_2020.csv',
 'APT_Price_Seoul_2021.csv',
 'APT_Price_Seoul_2022.csv',
 'APT_Price_Seoul_2023.csv',
 'APT_Price_Seoul_2024.csv',
 'KBO_Hitter_Stats_2024.csv',
 'KBO_Pitcher_Stats_2024.csv',
 'MPRC_2024.csv',
 'MPRC_2024.xlsx',
 'MPRC_List.xlsx',
 'MPRC_List_2.xlsx',
 'NA_Sample.xlsx']

In [28]:
dtl = pd.read_excel('APT_Detail_Seoul_2024.xlsx')

In [29]:
dtl.head()

,아파트ID,아파트명,지번주소,위도,경도,동수,세대수,임대수,용적률,건폐율,주차대수,건설사
0,146479,YH빌리지,서울시 강남구 개포동 1237-8,37.48,127.05,1,16,0,297,59,9,(주)세담종합건설
1,881,개포더샵트리에,서울시 강남구 개포동 651-1,37.48,127.06,2,232,0,355,30,305,(주)포스코건설
2,119219,개포래미안포레스트,서울시 강남구 개포동 1282,37.48,127.05,31,2296,120,249,21,3961,삼성물산(주)
3,140057,개포비버리하임(도시형),서울시 강남구 개포동 1193-5,37.47,127.05,2,29,0,199,57,30,(주)덕인컨스텍
4,107513,개포상지리츠빌,서울시 강남구 개포동 176-1,37.49,127.06,1,18,0,202,31,41,상지건영(주)

In [30]:
dtl = dtl.rename(columns = {'아파트명': '단지명', '지번주소': '주소'})

In [31]:
len(set(apt['단지명']))

7057

In [32]:
len(set(apt['단지명']) & set(dtl['단지명']))

2736

In [33]:
len(set(apt['주소']))

8074

In [34]:
len(set(apt['주소']) & set(dtl['주소']))

0

In [35]:
display(apt['주소'].head())
display(dtl['주소'].head())

0      서울특별시 강남구 개포동 12
1    서울특별시 강남구 개포동 12-2
2     서울특별시 강남구 개포동 185
3    서울특별시 강남구 개포동 1281
4     서울특별시 강남구 개포동 185
Name: 주소, dtype: object

0    서울시 강남구 개포동 1237-8
1     서울시 강남구 개포동 651-1
2      서울시 강남구 개포동 1282
3    서울시 강남구 개포동 1193-5
4     서울시 강남구 개포동 176-1
Name: 주소, dtype: object

In [36]:
apt['주소'] = apt['주소'].str.replace(pat = '특별', repl = '')

In [37]:
len(set(apt['주소']) & set(dtl['주소']))

7147

In [39]:
cond = apt['경과년수'].ge(30)

In [40]:
apt['재건축'] = np.where(cond, '충족', '부족')

In [41]:
df4 = apt.loc[:, '거래금액':'재건축'].sample(n = 5, random_state = 4)
df4

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,주소,계약일자,재건축
31367,5.27,상계주공6(고층),서울특별시,노원구,상계동,720,1988,2020,12,21,41.30,11,4210.90,32,서울시 노원구 상계동 720,2020-12-21,충족
24636,3.80,동부(101동~103동),서울특별시,구로구,오류동,336,1998,2020,7,4,59.98,9,2090.70,22,서울시 구로구 오류동 336,2020-07-04,부족
195165,6.53,극동의푸른별1차,서울특별시,노원구,중계동,600,2005,2024,3,8,84.97,13,2536.07,19,서울시 노원구 중계동 600,2024-03-08,부족
27958,3.00,상계주공1(고층),서울특별시,노원구,상계동,765,1988,2020,1,28,32.39,11,3055.48,32,서울시 노원구 상계동 765,2020-01-28,충족
55751,10.95,금호자이2차,서울특별시,성동구,금호동3가,700,2012,2020,6,17,84.98,6,4252.20,8,서울시 성동구 금호동3가 700,2020-06-17,부족

In [43]:
df4.duplicated()

31367     False
24636     False
195165    False
27958     False
55751     False
dtype: bool

In [45]:
df4['시군구']

31367     노원구
24636     구로구
195165    노원구
27958     노원구
55751     성동구
Name: 시군구, dtype: object

In [49]:
df4.duplicated(subset = '시군구', keep = False)

31367      True
24636     False
195165     True
27958      True
55751     False
dtype: bool

In [50]:
df4.drop_duplicates(subset = '시군구')

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,주소,계약일자,재건축
31367,5.27,상계주공6(고층),서울특별시,노원구,상계동,720,1988,2020,12,21,41.30,11,4210.90,32,서울시 노원구 상계동 720,2020-12-21,충족
24636,3.80,동부(101동~103동),서울특별시,구로구,오류동,336,1998,2020,7,4,59.98,9,2090.70,22,서울시 구로구 오류동 336,2020-07-04,부족
55751,10.95,금호자이2차,서울특별시,성동구,금호동3가,700,2012,2020,6,17,84.98,6,4252.20,8,서울시 성동구 금호동3가 700,2020-06-17,부족

In [51]:
dups = dtl.duplicated(subset = '주소', keep = False)
dtl.loc[dups, :]

,아파트ID,단지명,주소,위도,경도,동수,세대수,임대수,용적률,건폐율,주차대수,건설사
9,1303,개포주공6단지,서울시 강남구 개포동 185,37.49,127.07,9,1060,0,0,0,300,대한주택공사
10,1307,개포주공7단지,서울시 강남구 개포동 185,37.49,127.07,8,900,0,0,0,400,대한주택공사
19,419,대청,서울시 강남구 개포동 12,37.50,127.08,6,822,0,201,15,700,삼익건설(주)
20,483,대치2단지,서울시 강남구 개포동 12,37.49,127.08,11,1758,0,0,0,1758,"진덕산업(주),성원건설(주)"
481,724,"현대6,7차",서울시 강남구 압구정동 456,37.53,127.03,15,1288,0,210,16,1120,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
10222,141501,세운푸르지오헤리시티(주상복합),서울시 중구 인현동2가 240,37.56,127.00,1,321,40,937,60,182,(주)대우건설
10224,135725,힐스테이트세운센트럴1단지(도시형),서울시 중구 입정동 277,37.57,126.99,1,208,0,910,55,134,현대엔지니어링(주)
10225,148186,힐스테이트세운센트럴1단지(주상복합),서울시 중구 입정동 277,37.57,126.99,1,206,38,910,55,197,현대엔지니어링(주)
10226,135726,힐스테이트세운센트럴2단지(도시형),서울시 중구 입정동 280,37.57,126.99,1,279,0,938,0,205,현대엔지니어링(주)
10227,148187,힐스테이트세운센트럴2단지(주상복합),서울시 중구 입정동 280,37.57,126.99,1,329,61,937,61,282,현대엔지니어링(주)

In [52]:
dtl = dtl.drop_duplicates(subset = '주소')
dtl.shape

(10690, 12)

In [53]:
set(apt.columns) & set(dtl.columns)

{'단지명', '주소'}

In [58]:
cols = ['주소', '세대수', '주차대수']

pd.merge(left = apt, right = dtl[cols], how = 'outer', on = '주소')

pd.merge(left = apt, right = dtl[cols], how = 'left', on = '주소')

In [62]:
apt = pd.merge(left = apt, right = dtl[cols], how = 'inner', on = '주소')

In [63]:
apt.shape

(220890, 19)

In [64]:
apt['층'].sort_values()

164688    -3
74987     -3
74749     -3
53686     -2
215961    -2
          ..
1234      67
210647    67
167916    68
210139    68
133835    68
Name: 층, Length: 220890, dtype: int64

In [65]:
apt['층'].sort_values(ascending = False)

133835    68
210139    68
167916    68
210647    67
1234      67
          ..
53593     -2
75151     -2
164688    -3
74987     -3
74749     -3
Name: 층, Length: 220890, dtype: int64

In [67]:
apt.sort_values(by = '층')

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,주소,계약일자,재건축,세대수,주차대수
164688,11.00,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2023,7,29,101.49,-3,3576.71,13,서울시 은평구 진관동 84,2023-07-29,부족,472,855
74987,10.40,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2020,7,23,134.51,-3,2551.48,10,서울시 은평구 진관동 84,2020-07-23,부족,472,855
74749,8.20,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2020,3,20,134.51,-3,2011.75,10,서울시 은평구 진관동 84,2020-03-20,부족,472,855
53686,22.00,옥수파크힐스101동~116동,서울특별시,성동구,옥수동,528,2016,2020,7,30,107.99,-2,6722.84,4,서울시 성동구 옥수동 528,2020-07-30,부족,1976,2456
215961,120.00,한남더힐,서울특별시,용산구,한남동,810,2011,2024,4,10,240.23,-2,16484.20,13,서울시 용산구 한남동 810,2024-04-10,부족,600,1732
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,54.25,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020,7,25,235.74,67,7594.17,16,서울시 강남구 도곡동 467-29,2020-07-25,부족,480,1785
210647,30.00,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,10,14,138.20,67,7163.53,21,서울시 양천구 목동 916,2024-10-14,부족,466,1192
167916,55.00,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2024,7,30,185.62,68,9777.94,20,서울시 강남구 도곡동 467-29,2024-07-30,부족,480,1785
210139,38.00,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,4,11,167.44,68,7489.25,21,서울시 양천구 목동 916,2024-04-11,부족,466,1192
133835,55.00,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2023,12,22,185.62,68,9777.94,19,서울시 강남구 도곡동 467-29,2023-12-22,부족,480,1785

In [68]:
apt.sort_values(by = '층', ascending = False)

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,주소,계약일자,재건축,세대수,주차대수
133835,55.00,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2023,12,22,185.62,68,9777.94,19,서울시 강남구 도곡동 467-29,2023-12-22,부족,480,1785
210139,38.00,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,4,11,167.44,68,7489.25,21,서울시 양천구 목동 916,2024-04-11,부족,466,1192
167916,55.00,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2024,7,30,185.62,68,9777.94,20,서울시 강남구 도곡동 467-29,2024-07-30,부족,480,1785
210647,30.00,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,10,14,138.20,67,7163.53,21,서울시 양천구 목동 916,2024-10-14,부족,466,1192
1234,54.25,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020,7,25,235.74,67,7594.17,16,서울시 강남구 도곡동 467-29,2020-07-25,부족,480,1785
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53593,16.75,옥수파크힐스101동~116동,서울특별시,성동구,옥수동,528,2016,2020,6,30,76.66,-2,7210.41,4,서울시 성동구 옥수동 528,2020-06-30,부족,1976,2456
75151,9.47,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2020,7,1,101.99,-2,3064.12,10,서울시 은평구 진관동 84,2020-07-01,부족,472,855
164688,11.00,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2023,7,29,101.49,-3,3576.71,13,서울시 은평구 진관동 84,2023-07-29,부족,472,855
74987,10.40,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2020,7,23,134.51,-3,2551.48,10,서울시 은평구 진관동 84,2020-07-23,부족,472,855
74749,8.20,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2020,3,20,134.51,-3,2011.75,10,서울시 은평구 진관동 84,2020-03-20,부족,472,855

In [69]:
apt.sort_values(by = ['층', '거래금액'], ascending = False)

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,주소,계약일자,재건축,세대수,주차대수
133835,55.00,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2023,12,22,185.62,68,9777.94,19,서울시 강남구 도곡동 467-29,2023-12-22,부족,480,1785
167916,55.00,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2024,7,30,185.62,68,9777.94,20,서울시 강남구 도곡동 467-29,2024-07-30,부족,480,1785
210139,38.00,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,4,11,167.44,68,7489.25,21,서울시 양천구 목동 916,2024-04-11,부족,466,1192
1234,54.25,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020,7,25,235.74,67,7594.17,16,서울시 강남구 도곡동 467-29,2020-07-25,부족,480,1785
210647,30.00,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,10,14,138.20,67,7163.53,21,서울시 양천구 목동 916,2024-10-14,부족,466,1192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75151,9.47,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2020,7,1,101.99,-2,3064.12,10,서울시 은평구 진관동 84,2020-07-01,부족,472,855
23719,6.77,천왕연지타운2단지,서울특별시,구로구,천왕동,281,2014,2020,7,2,84.78,-2,2635.17,6,서울시 구로구 천왕동 281,2020-07-02,부족,1018,1364
164688,11.00,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2023,7,29,101.49,-3,3576.71,13,서울시 은평구 진관동 84,2023-07-29,부족,472,855
74987,10.40,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2020,7,23,134.51,-3,2551.48,10,서울시 은평구 진관동 84,2020-07-23,부족,472,855
74749,8.20,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2020,3,20,134.51,-3,2011.75,10,서울시 은평구 진관동 84,2020-03-20,부족,472,855

In [70]:
apt.sort_values(by = ['층', '거래금액'], ascending = [False, True])

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,주소,계약일자,재건축,세대수,주차대수
210139,38.00,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,4,11,167.44,68,7489.25,21,서울시 양천구 목동 916,2024-04-11,부족,466,1192
133835,55.00,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2023,12,22,185.62,68,9777.94,19,서울시 강남구 도곡동 467-29,2023-12-22,부족,480,1785
167916,55.00,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2024,7,30,185.62,68,9777.94,20,서울시 강남구 도곡동 467-29,2024-07-30,부족,480,1785
210647,30.00,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,10,14,138.20,67,7163.53,21,서울시 양천구 목동 916,2024-10-14,부족,466,1192
1234,54.25,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020,7,25,235.74,67,7594.17,16,서울시 강남구 도곡동 467-29,2020-07-25,부족,480,1785
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215961,120.00,한남더힐,서울특별시,용산구,한남동,810,2011,2024,4,10,240.23,-2,16484.20,13,서울시 용산구 한남동 810,2024-04-10,부족,600,1732
215963,120.00,한남더힐,서울특별시,용산구,한남동,810,2011,2024,4,10,240.23,-2,16484.20,13,서울시 용산구 한남동 810,2024-04-10,부족,600,1732
74749,8.20,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2020,3,20,134.51,-3,2011.75,10,서울시 은평구 진관동 84,2020-03-20,부족,472,855
74987,10.40,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2020,7,23,134.51,-3,2551.48,10,서울시 은평구 진관동 84,2020-07-23,부족,472,855
164688,11.00,우물골2단지두산위브(223~244동)BL2-7,서울특별시,은평구,진관동,84,2010,2023,7,29,101.49,-3,3576.71,13,서울시 은평구 진관동 84,2023-07-29,부족,472,855

In [71]:
apt['거래금액'].count()

np.int64(220890)

In [72]:
apt['거래금액'].sum()

np.float64(2233577.912)

In [73]:
apt['거래금액'].mean()

np.float64(10.111720367603784)

In [74]:
apt['거래금액'].std()

np.float64(7.461395885878631)

In [75]:
apt['거래금액'].min()

np.float64(0.62)

In [76]:
apt['거래금액'].max()

np.float64(220.0)

In [77]:
apt.groupby(by = '계약년도')['거래금액'].count()

계약년도
2020    79773
2021    41337
2022    11610
2023    33801
2024    54369
Name: 거래금액, dtype: int64

In [78]:
apt.groupby(by = '계약년도')['거래금액'].mean()

계약년도
2020    8.53
2021   10.29
2022   10.00
2023   10.75
2024   11.92
Name: 거래금액, dtype: float64

In [79]:
apt.groupby(by = '계약년도')['거래금액'].std()

계약년도
2020   5.55
2021   7.35
2022   9.40
2023   7.67
2024   8.79
Name: 거래금액, dtype: float64

In [80]:
apt.groupby(by = '계약년도')['거래금액'].min()

계약년도
2020   0.62
2021   0.66
2022   0.67
2023   0.74
2024   0.70
Name: 거래금액, dtype: float64

In [81]:
apt.groupby(by = '계약년도')['거래금액'].max()

계약년도
2020    77.50
2021   120.00
2022   145.00
2023   180.00
2024   220.00
Name: 거래금액, dtype: float64

In [87]:
cond = apt['시군구'].eq('용산구')

In [88]:
apt[cond].groupby(by = '계약년도')['거래금액'].mean()

계약년도
2020   15.20
2021   19.78
2022   21.63
2023   20.03
2024   22.04
Name: 거래금액, dtype: float64

In [89]:
apt[cond].groupby(by = '계약년도')['거래금액'].std()

계약년도
2020    9.15
2021   14.98
2022   19.30
2023   14.42
2024   17.69
Name: 거래금액, dtype: float64

In [90]:
apt[cond].groupby(by = '계약년도')['거래금액'].min()

계약년도
2020   1.50
2021   1.50
2022   1.20
2023   1.60
2024   1.63
Name: 거래금액, dtype: float64

In [91]:
apt[cond].groupby(by = '계약년도')['거래금액'].max()

계약년도
2020    77.50
2021   120.00
2022   135.00
2023   180.00
2024   220.00
Name: 거래금액, dtype: float64

In [92]:
apt['거래금액'].agg(func = ['count', 'mean', 'std'])

count   220890.00
mean        10.11
std          7.46
Name: 거래금액, dtype: float64

In [93]:
apt.groupby(by = '계약년도')['거래금액'].agg(func = ['count', 'mean', 'std'])

      count  mean  std
계약년도
2020  79773  8.53 5.55
2021  41337 10.29 7.35
2022  11610 10.00 9.40
2023  33801 10.75 7.67
2024  54369 11.92 8.79

In [94]:
cols = ['시군구', '재건축']

In [95]:
apt.groupby(by = cols)['거래금액'].agg(func = ['count', 'mean', 'std'])

          count  mean   std
시군구  재건축
강남구  부족    8740 19.13 11.79
     충족    3551 25.10 12.34
강동구  부족   10725  9.29  4.30
     충족    1233 10.45  3.29
강북구  부족    4536  5.93  2.13
     충족     339  5.22  1.31
강서구  부족   12413  7.52  3.21
     충족    1197  6.20  2.07
관악구  부족    6413  6.78  2.56
     충족     498  5.57  1.92
광진구  부족    3330 11.29  5.16
     충족     846 13.47  4.99
구로구  부족    9496  6.44  2.85
     충족    1470  5.48  1.91
금천구  부족    3460  5.79  2.58
     충족     516  4.55  1.79
노원구  부족   10747  6.18  2.40
     충족    8457  5.49  1.92
도봉구  부족    5226  5.51  2.19
     충족    3097  4.48  1.56
동대문구 부족    8664  7.57  3.24
     충족     517  6.29  1.41
동작구  부족    7342 10.61  3.83
     충족     983 11.24  3.73
마포구  부족    8163 11.68  4.64
     충족     725  9.88  2.19
서대문구 부족    7200  8.84  3.41
     충족     758  5.78  2.19
서초구  부족    8176 20.61 12.69
     충족    1787 22.50  6.76
성동구  부족    8267 13.28  7.30
     충족     961 12.07  4.94
성북구  부족   11741  7.63  2.29
     충족     254  4.31  1.81
송파구  부족   10512 14.28  6.23
     충족    3674 17.38  7.31
양천구  부족    6387  8.91  5.08
     충족    2645 13.79  5.88
영등포구 부족    8533  9.65  5.65
     충족    1953 12.43  7.98
용산구  부족    3280 19.25 15.46
     충족     743 17.07  9.00
은평구  부족    8473  7.06  2.78
     충족     591  5.39  1.77
종로구  부족    1929  9.85  6.11
     충족     129  5.53  2.02
중구   부족    2906 10.01  4.89
     충족     213  4.97  2.72
중랑구  부족    6397  5.92  2.49
     충족     697  4.37  1.42

In [100]:
pd.pivot_table(data = apt, index = '시군구', columns = '재건축', values = '거래금액', 
               aggfunc = ['count', 'mean', 'std'], margins = True, margins_name = '합계')

       count                 mean               std
재건축       부족     충족      합계    부족    충족    합계    부족    충족    합계
시군구
강남구     8740   3551   12291 19.13 25.10 20.86 11.79 12.34 12.25
강동구    10725   1233   11958  9.29 10.45  9.41  4.30  3.29  4.22
강북구     4536    339    4875  5.93  5.22  5.88  2.13  1.31  2.09
강서구    12413   1197   13610  7.52  6.20  7.41  3.21  2.07  3.15
관악구     6413    498    6911  6.78  5.57  6.70  2.56  1.92  2.53
광진구     3330    846    4176 11.29 13.47 11.73  5.16  4.99  5.20
구로구     9496   1470   10966  6.44  5.48  6.31  2.85  1.91  2.76
금천구     3460    516    3976  5.79  4.55  5.63  2.58  1.79  2.53
노원구    10747   8457   19204  6.18  5.49  5.88  2.40  1.92  2.23
도봉구     5226   3097    8323  5.51  4.48  5.13  2.19  1.56  2.04
동대문구    8664    517    9181  7.57  6.29  7.49  3.24  1.41  3.17
동작구     7342    983    8325 10.61 11.24 10.68  3.83  3.73  3.83
마포구     8163    725    8888 11.68  9.88 11.53  4.64  2.19  4.52
서대문구    7200    758    7958  8.84  5.78  8.55  3.41  2.19  3.44
서초구     8176   1787    9963 20.61 22.50 20.95 12.69  6.76 11.87
성동구     8267    961    9228 13.28 12.07 13.16  7.30  4.94  7.10
성북구    11741    254   11995  7.63  4.31  7.56  2.29  1.81  2.33
송파구    10512   3674   14186 14.28 17.38 15.09  6.23  7.31  6.67
양천구     6387   2645    9032  8.91 13.79 10.34  5.08  5.88  5.77
영등포구    8533   1953   10486  9.65 12.43 10.17  5.65  7.98  6.25
용산구     3280    743    4023 19.25 17.07 18.85 15.46  9.00 14.51
은평구     8473    591    9064  7.06  5.39  6.95  2.78  1.77  2.75
종로구     1929    129    2058  9.85  5.53  9.58  6.11  2.02  6.03
중구      2906    213    3119 10.01  4.97  9.66  4.89  2.72  4.94
중랑구     6397    697    7094  5.92  4.37  5.77  2.49  1.42  2.45
합계    183056  37834  220890  9.91 11.11 10.11  7.11  8.90  7.46

In [102]:
apt['시군구'].nunique()

25

In [103]:
apt['시군구'].unique()

array(['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구',
       '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'], dtype=object)

apt.groupby(by = '시군구')['거래금액'].count().sort_values(ascending = False)

In [104]:
apt['시군구'].value_counts()

시군구
노원구     19204
송파구     14186
강서구     13610
강남구     12291
성북구     11995
강동구     11958
구로구     10966
영등포구    10486
서초구      9963
성동구      9228
동대문구     9181
은평구      9064
양천구      9032
마포구      8888
동작구      8325
도봉구      8323
서대문구     7958
중랑구      7094
관악구      6911
강북구      4875
광진구      4176
용산구      4023
금천구      3976
중구       3119
종로구      2058
Name: count, dtype: int64

In [107]:
apt['시군구'].value_counts().sort_index()

시군구
강남구     12291
강동구     11958
강북구      4875
강서구     13610
관악구      6911
광진구      4176
구로구     10966
금천구      3976
노원구     19204
도봉구      8323
동대문구     9181
동작구      8325
마포구      8888
서대문구     7958
서초구      9963
성동구      9228
성북구     11995
송파구     14186
양천구      9032
영등포구    10486
용산구      4023
은평구      9064
종로구      2058
중구       3119
중랑구      7094
Name: count, dtype: int64

In [109]:
apt['시군구'].value_counts(normalize = True) * 100

시군구
노원구    8.69
송파구    6.42
강서구    6.16
강남구    5.56
성북구    5.43
강동구    5.41
구로구    4.96
영등포구   4.75
서초구    4.51
성동구    4.18
동대문구   4.16
은평구    4.10
양천구    4.09
마포구    4.02
동작구    3.77
도봉구    3.77
서대문구   3.60
중랑구    3.21
관악구    3.13
강북구    2.21
광진구    1.89
용산구    1.82
금천구    1.80
중구     1.41
종로구    0.93
Name: proportion, dtype: float64

In [114]:
apt[cols].value_counts().sort_index().reset_index().rename(columns = {'count': '거래건수'})

     시군구 재건축   거래건수
0    강남구  부족   8740
1    강남구  충족   3551
2    강동구  부족  10725
3    강동구  충족   1233
4    강북구  부족   4536
5    강북구  충족    339
6    강서구  부족  12413
7    강서구  충족   1197
8    관악구  부족   6413
9    관악구  충족    498
10   광진구  부족   3330
11   광진구  충족    846
12   구로구  부족   9496
13   구로구  충족   1470
14   금천구  부족   3460
15   금천구  충족    516
16   노원구  부족  10747
17   노원구  충족   8457
18   도봉구  부족   5226
19   도봉구  충족   3097
20  동대문구  부족   8664
21  동대문구  충족    517
22   동작구  부족   7342
23   동작구  충족    983
24   마포구  부족   8163
25   마포구  충족    725
26  서대문구  부족   7200
27  서대문구  충족    758
28   서초구  부족   8176
29   서초구  충족   1787
30   성동구  부족   8267
31   성동구  충족    961
32   성북구  부족  11741
33   성북구  충족    254
34   송파구  부족  10512
35   송파구  충족   3674
36   양천구  부족   6387
37   양천구  충족   2645
38  영등포구  부족   8533
39  영등포구  충족   1953
40   용산구  부족   3280
41   용산구  충족    743
42   은평구  부족   8473
43   은평구  충족    591
44   종로구  부족   1929
45   종로구  충족    129
46    중구  부족   2906
47    중구  충족    213
48   중랑구  부족   6397
49   중랑구  충족    697

In [120]:
pd.crosstab(index = apt['시군구'], columns = apt['재건축'], 
            margins = True, margins_name = '합계', 
            normalize = 'index') * 100

재건축     부족    충족
시군구
강남구  71.11 28.89
강동구  89.69 10.31
강북구  93.05  6.95
강서구  91.20  8.80
관악구  92.79  7.21
광진구  79.74 20.26
구로구  86.59 13.41
금천구  87.02 12.98
노원구  55.96 44.04
도봉구  62.79 37.21
동대문구 94.37  5.63
동작구  88.19 11.81
마포구  91.84  8.16
서대문구 90.47  9.53
서초구  82.06 17.94
성동구  89.59 10.41
성북구  97.88  2.12
송파구  74.10 25.90
양천구  70.72 29.28
영등포구 81.38 18.62
용산구  81.53 18.47
은평구  93.48  6.52
종로구  93.73  6.27
중구   93.17  6.83
중랑구  90.17  9.83
합계   82.87 17.13

In [121]:
apt.describe()

,거래금액,입주년도,전용면적,층,평당금액,경과년수,계약일자,세대수,주차대수
count,220890.00,220890.00,220890.00,220890.00,220890.00,220890.00,220890,220890.00,220890.00
mean,10.11,2002.32,75.47,9.53,4358.43,19.41,2022-03-18 12:12:02.053511168,1065.67,1175.28
min,0.62,1961.00,10.78,-3.00,564.01,-2.00,2020-01-01 00:00:00,1.00,0.00
25%,5.70,1996.00,59.64,5.00,2842.34,12.00,2020-08-11 00:00:00,259.00,241.00
50%,8.30,2002.00,79.20,9.00,3785.74,20.00,2021-08-07 00:00:00,668.00,654.00
75%,12.40,2010.00,84.96,13.00,5244.26,26.00,2023-12-18 00:00:00,1372.00,1401.00
max,220.00,2024.00,317.36,68.00,26553.28,60.00,2024-12-31 00:00:00,9510.00,12602.00
std,7.46,10.40,30.57,6.37,2219.46,10.34,NaN,1253.13,1614.55

In [122]:
apt.describe(include = [int, float])

,거래금액,입주년도,전용면적,층,평당금액,경과년수,세대수,주차대수
count,220890.00,220890.00,220890.00,220890.00,220890.00,220890.00,220890.00,220890.00
mean,10.11,2002.32,75.47,9.53,4358.43,19.41,1065.67,1175.28
std,7.46,10.40,30.57,6.37,2219.46,10.34,1253.13,1614.55
min,0.62,1961.00,10.78,-3.00,564.01,-2.00,1.00,0.00
25%,5.70,1996.00,59.64,5.00,2842.34,12.00,259.00,241.00
50%,8.30,2002.00,79.20,9.00,3785.74,20.00,668.00,654.00
75%,12.40,2010.00,84.96,13.00,5244.26,26.00,1372.00,1401.00
max,220.00,2024.00,317.36,68.00,26553.28,60.00,9510.00,12602.00

In [123]:
apt.describe(include = object)

,단지명,시도명,시군구,법정동,지번,계약년도,계약월,계약일,주소,재건축
count,220890,220890,220890,220890,220890,220890,220890,220890,220890,220890
unique,6191,1,25,332,5131,5,12,31,7147,2
top,현대,서울특별시,노원구,상계동,1013,2020,6,15,서울시 송파구 신천동 17,부족
freq,1928,220890,19204,7130,1111,79773,31855,8261,987,183056

In [127]:
elong = apt[cols].value_counts().sort_index().reset_index()
elong.head(n = 10)

   시군구 재건축  count
0  강남구  부족   8740
1  강남구  충족   3551
2  강동구  부족  10725
3  강동구  충족   1233
4  강북구  부족   4536
5  강북구  충족    339
6  강서구  부족  12413
7  강서구  충족   1197
8  관악구  부족   6413
9  관악구  충족    498

In [129]:
widen = elong.pivot(index = '시군구', columns = '재건축', values = 'count')
widen.head()

재건축     부족    충족
시군구
강남구   8740  3551
강동구  10725  1233
강북구   4536   339
강서구  12413  1197
관악구   6413   498

In [131]:
widen = widen.reset_index()
widen.head()

재건축  시군구     부족    충족
0    강남구   8740  3551
1    강동구  10725  1233
2    강북구   4536   339
3    강서구  12413  1197
4    관악구   6413   498

In [134]:
widen.columns.name = None
widen.head()

   시군구     부족    충족
0  강남구   8740  3551
1  강동구  10725  1233
2  강북구   4536   339
3  강서구  12413  1197
4  관악구   6413   498

In [136]:
widen.melt(id_vars = '시군구', 
           value_vars = ['부족', '충족'],
           var_name = '재건축연한', 
           value_name = '거래건수')

     시군구 재건축연한   거래건수
0    강남구    부족   8740
1    강동구    부족  10725
2    강북구    부족   4536
3    강서구    부족  12413
4    관악구    부족   6413
5    광진구    부족   3330
6    구로구    부족   9496
7    금천구    부족   3460
8    노원구    부족  10747
9    도봉구    부족   5226
10  동대문구    부족   8664
11   동작구    부족   7342
12   마포구    부족   8163
13  서대문구    부족   7200
14   서초구    부족   8176
15   성동구    부족   8267
16   성북구    부족  11741
17   송파구    부족  10512
18   양천구    부족   6387
19  영등포구    부족   8533
20   용산구    부족   3280
21   은평구    부족   8473
22   종로구    부족   1929
23    중구    부족   2906
24   중랑구    부족   6397
25   강남구    충족   3551
26   강동구    충족   1233
27   강북구    충족    339
28   강서구    충족   1197
29   관악구    충족    498
30   광진구    충족    846
31   구로구    충족   1470
32   금천구    충족    516
33   노원구    충족   8457
34   도봉구    충족   3097
35  동대문구    충족    517
36   동작구    충족    983
37   마포구    충족    725
38  서대문구    충족    758
39   서초구    충족   1787
40   성동구    충족    961
41   성북구    충족    254
42   송파구    충족   3674
43   양천구    충족   2645
44  영등포구    충족   1953
45   용산구    충족    743
46   은평구    충족    591
47   종로구    충족    129
48    중구    충족    213
49   중랑구    충족    697

In [137]:
os.getcwd()

'C:\\Users\\user\\Documents\\project\\data'

In [138]:
pd.to_pickle(obj = apt, filepath_or_buffer = 'APT_Prep.pkl')

In [139]:
os.listdir()

['APT_Detail_Seoul_2024.csv',
 'APT_Detail_Seoul_2024.xlsx',
 'APT_List.pkl',
 'APT_Prep.pkl',
 'APT_Price_Seoul(2020~2024).xlsx',
 'APT_Price_Seoul_2020.csv',
 'APT_Price_Seoul_2021.csv',
 'APT_Price_Seoul_2022.csv',
 'APT_Price_Seoul_2023.csv',
 'APT_Price_Seoul_2024.csv',
 'KBO_Hitter_Stats_2024.csv',
 'KBO_Pitcher_Stats_2024.csv',
 'MPRC_2024.csv',
 'MPRC_2024.xlsx',
 'MPRC_List.xlsx',
 'MPRC_List_2.xlsx',
 'NA_Sample.xlsx']

In [141]:
apt = apt.drop(columns = ['단지명', '시도명', '지번', '입주년도', '계약일', '계약일자', '주소'])

In [142]:
# 단지명, 시도명, 지번, 입주년도, 계약일, 계약일자, 주소, 
apt.head()

   거래금액  시군구  법정동  계약년도 계약월   전용면적   층    평당금액  경과년수 재건축   세대수  주차대수
0 10.05  강남구  개포동  2020   1  39.53  13 8389.83    28  부족   822   700
1 20.30  강남구  개포동  2020   1 134.30  17 4988.09    16  부족   212   502
2 18.00  강남구  개포동  2020   1  60.13  14 9878.60    37  충족  1060   300
3 28.50  강남구  개포동  2020   1  94.29  12 9974.55     1  부족  1320  2120
4 17.10  강남구  개포동  2020   1  60.76   2 9287.36    37  충족  1060   300

In [143]:
pd.to_pickle(obj = apt, filepath_or_buffer = 'APT_Prep_New.pkl')