In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
os.getcwd()

'C:\\Users\\user\\Documents\\project\\code'

In [3]:
os.chdir(path = '../data')

In [4]:
os.listdir()

['APT_Detail_Seoul_2024.csv',
 'APT_Detail_Seoul_2024.xlsx',
 'APT_List.pkl',
 'APT_Price_Seoul(2020~2024).xlsx',
 'APT_Price_Seoul_2020.csv',
 'APT_Price_Seoul_2021.csv',
 'APT_Price_Seoul_2022.csv',
 'APT_Price_Seoul_2023.csv',
 'APT_Price_Seoul_2024.csv',
 'KBO_Hitter_Stats_2024.csv',
 'KBO_Pitcher_Stats_2024.csv',
 'MPRC_2024.csv',
 'MPRC_2024.xlsx',
 'MPRC_List.xlsx',
 'MPRC_List_2.xlsx',
 'NA_Sample.xlsx']

In [5]:
apt = pd.read_pickle('APT_List.pkl')

In [6]:
apt.head()

,거래금액,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,등기일자,매도자,전용면적,층
0,100500,11680,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,NaT,NaN,39.53,13
1,203000,11680,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,NaT,NaN,134.30,17
2,180000,11680,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,NaT,NaN,60.13,14
3,285000,11680,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,NaT,NaN,94.29,12
4,171000,11680,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,NaT,NaN,60.76,2

In [7]:
apt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231904 entries, 0 to 231903
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   거래금액    231904 non-null  int64
 1   지역코드    231904 non-null  int64
 2   아파트     231904 non-null  object
 3   시도명     231904 non-null  object
 4   시군구     231904 non-null  object
 5   법정동     231904 non-null  object
 6   지번      231904 non-null  object
 7   건축년도    231904 non-null  int64
 8   년       231904 non-null  int64
 9   월       231904 non-null  int64
 10  일       231904 non-null  int64
 11  등기일자    79535 non-null   datetime64[ns]
 12  매도자     56193 non-null   object
 13  전용면적    231904 non-null  float64
 14  층       231904 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(6)
memory usage: 26.5+ MB

In [9]:
apt.isna().sum()

거래금액         0
지역코드         0
아파트          0
시도명          0
시군구          0
법정동          0
지번           0
건축년도         0
년            0
월            0
일            0
등기일자    152369
매도자     175711
전용면적         0
층            0
dtype: int64

In [11]:
apt.isna().mean() * 100

거래금액     0.000000
지역코드     0.000000
아파트      0.000000
시도명      0.000000
시군구      0.000000
법정동      0.000000
지번       0.000000
건축년도     0.000000
년        0.000000
월        0.000000
일        0.000000
등기일자    65.703481
매도자     75.768853
전용면적     0.000000
층        0.000000
dtype: float64

In [12]:
cond = apt['등기일자'].isna()
apt.loc[cond, :]

,거래금액,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,등기일자,매도자,전용면적,층
0,100500,11680,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,NaT,NaN,39.53,13
1,203000,11680,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,NaT,NaN,134.30,17
2,180000,11680,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,NaT,NaN,60.13,14
3,285000,11680,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,NaT,NaN,94.29,12
4,171000,11680,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,NaT,NaN,60.76,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231896,66500,11260,한신아파트상가동유치원동(103~109),서울특별시,중랑구,중화동,450,1997,2024,11,9,NaT,개인,59.76,17
231897,59500,11260,한신아파트상가동유치원동(103~109),서울특별시,중랑구,중화동,450,1997,2024,11,8,NaT,개인,59.76,1
231898,68500,11260,한신아파트상가동유치원동(103~109),서울특별시,중랑구,중화동,450,1997,2024,11,14,NaT,개인,59.76,15
231902,67000,11260,한신아파트상가동유치원동(102~102),서울특별시,중랑구,중화동,450,1998,2024,11,2,NaT,개인,59.76,9
231903,11000,11260,범양프레체,서울특별시,중랑구,중화동,208-4,2012,2024,12,7,NaT,개인,17.94,15

In [14]:
apt.loc[cond, '년'].value_counts()

년
2020    83986
2021    43338
2022    12756
2024    10557
2023     1732
Name: count, dtype: int64

In [15]:
apt['년'].value_counts()

년
2020    83986
2024    56193
2021    43338
2023    35631
2022    12756
Name: count, dtype: int64

In [18]:
apt['등기일자'].fillna(value = '1900-01-01')

0        1900-01-01
1        1900-01-01
2        1900-01-01
3        1900-01-01
4        1900-01-01
            ...
231899   2024-12-13
231900   2024-12-18
231901   2024-11-20
231902   1900-01-01
231903   1900-01-01
Name: 등기일자, Length: 231904, dtype: datetime64[ns]

In [19]:
apt.dropna()

,거래금액,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,등기일자,매도자,전용면적,층
175711,219000,11680,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2024,1,30,2024-04-30,개인,59.8732,17
175712,175000,11680,개포주공7단지,서울특별시,강남구,개포동,185,1983,2024,1,31,2024-03-20,개인,53.4600,5
175713,200000,11680,래미안블레스티지,서울특별시,강남구,개포동,1280,2019,2024,1,27,2024-02-29,개인,59.9670,9
175715,282000,11680,현대2,서울특별시,강남구,개포동,654,1986,2024,1,19,2024-05-30,개인,131.8300,1
175716,260000,11680,현대아파트3,서울특별시,강남구,개포동,177,1986,2024,1,20,2024-03-21,개인,131.8300,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231888,64300,11260,한신아파트상가동유치원동(103~109),서울특별시,중랑구,중화동,450,1997,2024,10,26,2025-01-02,개인,59.7600,7
231890,63000,11260,한신아파트상가동유치원동(103~109),서울특별시,중랑구,중화동,450,1997,2024,10,27,2024-11-12,개인,59.7600,25
231899,74000,11260,한신아파트상가동유치원동(102~102),서울특별시,중랑구,중화동,450,1998,2024,11,21,2024-12-13,개인,84.0300,11
231900,50500,11260,삼익아파트.상가동,서울특별시,중랑구,중화동,438,1995,2024,11,13,2024-12-18,개인,59.3400,10
231901,60000,11260,한신아파트상가동유치원동(103~109),서울특별시,중랑구,중화동,450,1997,2024,11,18,2024-11-20,개인,59.7600,4

In [20]:
apt.dropna(axis = 1)

,거래금액,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,전용면적,층
0,100500,11680,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13
1,203000,11680,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17
2,180000,11680,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14
3,285000,11680,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12
4,171000,11680,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
231899,74000,11260,한신아파트상가동유치원동(102~102),서울특별시,중랑구,중화동,450,1998,2024,11,21,84.03,11
231900,50500,11260,삼익아파트.상가동,서울특별시,중랑구,중화동,438,1995,2024,11,13,59.34,10
231901,60000,11260,한신아파트상가동유치원동(103~109),서울특별시,중랑구,중화동,450,1997,2024,11,18,59.76,4
231902,67000,11260,한신아파트상가동유치원동(102~102),서울특별시,중랑구,중화동,450,1998,2024,11,2,59.76,9
231903,11000,11260,범양프레체,서울특별시,중랑구,중화동,208-4,2012,2024,12,7,17.94,15

In [21]:
apt = apt.dropna(axis = 1)
apt.shape

(231904, 13)

In [22]:
os.listdir()

['APT_Detail_Seoul_2024.csv',
 'APT_Detail_Seoul_2024.xlsx',
 'APT_List.pkl',
 'APT_Price_Seoul(2020~2024).xlsx',
 'APT_Price_Seoul_2020.csv',
 'APT_Price_Seoul_2021.csv',
 'APT_Price_Seoul_2022.csv',
 'APT_Price_Seoul_2023.csv',
 'APT_Price_Seoul_2024.csv',
 'KBO_Hitter_Stats_2024.csv',
 'KBO_Pitcher_Stats_2024.csv',
 'MPRC_2024.csv',
 'MPRC_2024.xlsx',
 'MPRC_List.xlsx',
 'MPRC_List_2.xlsx',
 'NA_Sample.xlsx']

In [23]:
na = pd.read_excel('NA_Sample.xlsx')

In [25]:
na.ffill()

  구분 항목    값
0  A  a  1.2
1  A  b  2.3
2  A  c  3.5
3  B  a  1.7
4  B  b  2.6
5  B  c  3.6

In [26]:
na.bfill()

    구분 항목    값
0    A  a  1.2
1    B  b  2.3
2    B  c  3.5
3    B  a  1.7
4  NaN  b  2.6
5  NaN  c  3.6

In [27]:
apt.head()

,거래금액,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,전용면적,층
0,100500,11680,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13
1,203000,11680,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17
2,180000,11680,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14
3,285000,11680,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12
4,171000,11680,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2

In [30]:
# apt['지역코드']
apt.loc[:, '지역코드']

0         11680
1         11680
2         11680
3         11680
4         11680
          ...
231899    11260
231900    11260
231901    11260
231902    11260
231903    11260
Name: 지역코드, Length: 231904, dtype: int64

In [31]:
# apt[['지역코드']]
apt.loc[:, ['지역코드']]

         지역코드
0       11680
1       11680
2       11680
3       11680
4       11680
...       ...
231899  11260
231900  11260
231901  11260
231902  11260
231903  11260

[231904 rows x 1 columns]

In [32]:
apt[['지역코드', '거래금액']]

         지역코드    거래금액
0       11680  100500
1       11680  203000
2       11680  180000
3       11680  285000
4       11680  171000
...       ...     ...
231899  11260   74000
231900  11260   50500
231901  11260   60000
231902  11260   67000
231903  11260   11000

[231904 rows x 2 columns]

In [35]:
# apt[['거래금액', '지역코드', '아파트']]
# apt['거래금액':'아파트']
apt.loc[:, '거래금액':'아파트']

          거래금액   지역코드                    아파트
0       100500  11680                삼익대청아파트
1       203000  11680                   개포자이
2       180000  11680                개포주공6단지
3       285000  11680               디에이치아너힐즈
4       171000  11680                개포주공7단지
...        ...    ...                    ...
231899   74000  11260  한신아파트상가동유치원동(102~102)
231900   50500  11260              삼익아파트.상가동
231901   60000  11260  한신아파트상가동유치원동(103~109)
231902   67000  11260  한신아파트상가동유치원동(102~102)
231903   11000  11260                  범양프레체

[231904 rows x 3 columns]

In [36]:
apt.loc[0, :]

거래금액     100500
지역코드      11680
아파트     삼익대청아파트
시도명       서울특별시
시군구         강남구
법정동         개포동
지번           12
건축년도       1992
년          2020
월             1
일            31
전용면적      39.53
층            13
Name: 0, dtype: object

In [37]:
apt.loc[[0, 231903], :]

,거래금액,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,전용면적,층
0,100500,11680,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13
231903,11000,11260,범양프레체,서울특별시,중랑구,중화동,208-4,2012,2024,12,7,17.94,15

In [38]:
apt.iloc[[0, -1], :]

,거래금액,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,전용면적,층
0,100500,11680,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13
231903,11000,11260,범양프레체,서울특별시,중랑구,중화동,208-4,2012,2024,12,7,17.94,15

In [39]:
apt.loc[0:5, ]

,거래금액,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,전용면적,층
0,100500,11680,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.530,13
1,203000,11680,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.300,17
2,180000,11680,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.130,14
3,285000,11680,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.290,12
4,171000,11680,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.760,2
5,188000,11680,래미안블레스티지,서울특별시,강남구,개포동,1280,2019,2020,1,17,59.897,4

In [42]:
apt.loc[:, apt.dtypes == 'int64']

          거래금액   지역코드  건축년도     년   월   일   층
0       100500  11680  1992  2020   1  31  13
1       203000  11680  2004  2020   1   6  17
2       180000  11680  1983  2020   1  14  14
3       285000  11680  2019  2020   1   4  12
4       171000  11680  1983  2020   1  12   2
...        ...    ...   ...   ...  ..  ..  ..
231899   74000  11260  1998  2024  11  21  11
231900   50500  11260  1995  2024  11  13  10
231901   60000  11260  1997  2024  11  18   4
231902   67000  11260  1998  2024  11   2   9
231903   11000  11260  2012  2024  12   7  15

[231904 rows x 7 columns]

In [43]:
apt.loc[:, (apt.dtypes == 'int64') | (apt.dtypes == 'float64')]

          거래금액   지역코드  건축년도     년   월   일    전용면적   층
0       100500  11680  1992  2020   1  31   39.53  13
1       203000  11680  2004  2020   1   6  134.30  17
2       180000  11680  1983  2020   1  14   60.13  14
3       285000  11680  2019  2020   1   4   94.29  12
4       171000  11680  1983  2020   1  12   60.76   2
...        ...    ...   ...   ...  ..  ..     ...  ..
231899   74000  11260  1998  2024  11  21   84.03  11
231900   50500  11260  1995  2024  11  13   59.34  10
231901   60000  11260  1997  2024  11  18   59.76   4
231902   67000  11260  1998  2024  11   2   59.76   9
231903   11000  11260  2012  2024  12   7   17.94  15

[231904 rows x 8 columns]

In [44]:
apt.select_dtypes(include = [int, float])

          거래금액   지역코드  건축년도     년   월   일    전용면적   층
0       100500  11680  1992  2020   1  31   39.53  13
1       203000  11680  2004  2020   1   6  134.30  17
2       180000  11680  1983  2020   1  14   60.13  14
3       285000  11680  2019  2020   1   4   94.29  12
4       171000  11680  1983  2020   1  12   60.76   2
...        ...    ...   ...   ...  ..  ..     ...  ..
231899   74000  11260  1998  2024  11  21   84.03  11
231900   50500  11260  1995  2024  11  13   59.34  10
231901   60000  11260  1997  2024  11  18   59.76   4
231902   67000  11260  1998  2024  11   2   59.76   9
231903   11000  11260  2012  2024  12   7   17.94  15

[231904 rows x 8 columns]

In [45]:
apt.columns

Index(['거래금액', '지역코드', '아파트', '시도명', '시군구', '법정동', '지번', '건축년도', '년', '월', '일',
       '전용면적', '층'],
      dtype='object')

In [49]:
apt.loc[:, apt.columns.str.contains(pat = '년|월|일')]

        건축년도     년   월   일
0       1992  2020   1  31
1       2004  2020   1   6
2       1983  2020   1  14
3       2019  2020   1   4
4       1983  2020   1  12
...      ...   ...  ..  ..
231899  1998  2024  11  21
231900  1995  2024  11  13
231901  1997  2024  11  18
231902  1998  2024  11   2
231903  2012  2024  12   7

[231904 rows x 4 columns]

In [50]:
tels = pd.Series(data = ['010-2345-6789', '010-3456-7890', '02-345-6789', '123456-7890123'])
tels

0     010-2345-6789
1     010-3456-7890
2       02-345-6789
3    123456-7890123
dtype: object

In [51]:
tels.str.extract(pat = r'([0-9]{3}-[0-9]{4}-[0-9]{4})')

               0
0  010-2345-6789
1  010-3456-7890
2            NaN
3            NaN

In [52]:
tels.str.extract(pat = r'([0-9]+-[0-9]+-[0-9]+)')

               0
0  010-2345-6789
1  010-3456-7890
2    02-345-6789
3            NaN

In [53]:
tels.str.extract(pat = r'([0-9]+-[0-9]+)')

                0
0        010-2345
1        010-3456
2          02-345
3  123456-7890123

In [56]:
addr = pd.Series(['서울특별시 강남구 역삼동 1', '경기도 성남시 분당구 이매동 2', '인천광역시 중구 신사동 3'])

In [58]:
addr.str.extract(pat = r'([가-힣]+시)')

       0
0  서울특별시
1    성남시
2  인천광역시

In [59]:
cond = (apt['거래금액'] >= 1500000)
apt.loc[cond, :]

,거래금액,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,전용면적,층
172193,1800000,11170,파르크한남,서울특별시,용산구,한남동,410,2020,2023,8,17,268.6700,4
208226,1800000,11650,아크로리버파크,서울특별시,서초구,반포동,2-12,2016,2024,8,5,234.9100,35
226887,2000000,11170,나인원한남,서울특별시,용산구,한남동,829,2019,2024,6,4,273.9424,1
226893,2200000,11170,나인원한남,서울특별시,용산구,한남동,829,2019,2024,7,22,273.4125,1
226921,1700000,11170,파르크한남,서울특별시,용산구,한남동,410,2020,2024,10,22,268.9500,4

In [60]:
cond = (apt['거래금액'] < 1500000) & (apt['층'] >= 65)
apt.loc[cond, :]

,거래금액,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,전용면적,층
1290,542500,11680,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020,7,25,235.740,67
1413,380000,11680,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020,10,27,185.622,66
68035,240000,11470,현대하이페리온,서울특별시,양천구,목동,916,2003,2020,7,3,154.050,66
84865,458000,11680,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2021,6,24,214.967,66
141235,550000,11680,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2023,12,22,185.622,68
168521,320000,11470,현대하이페리온,서울특별시,양천구,목동,916,2003,2023,7,3,167.440,65
177189,550000,11680,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2024,7,30,185.622,68
220684,380000,11470,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,4,11,167.440,68
221196,300000,11470,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,10,14,138.200,67

In [61]:
cond = apt['거래금액'].lt(1500000) & apt['층'].ge(65)
apt.loc[cond, :]

,거래금액,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,전용면적,층
1290,542500,11680,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020,7,25,235.740,67
1413,380000,11680,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2020,10,27,185.622,66
68035,240000,11470,현대하이페리온,서울특별시,양천구,목동,916,2003,2020,7,3,154.050,66
84865,458000,11680,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2021,6,24,214.967,66
141235,550000,11680,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2023,12,22,185.622,68
168521,320000,11470,현대하이페리온,서울특별시,양천구,목동,916,2003,2023,7,3,167.440,65
177189,550000,11680,타워팰리스3,서울특별시,강남구,도곡동,467-29,2004,2024,7,30,185.622,68
220684,380000,11470,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,4,11,167.440,68
221196,300000,11470,현대하이페리온,서울특별시,양천구,목동,916,2003,2024,10,14,138.200,67

In [63]:
cond = apt['층'].ge(10) & apt['층'].le(20)
apt.loc[cond, :].shape[0]

88699

In [64]:
cond = apt['층'].between(10, 20)
apt.loc[cond, :].shape[0]

88699

In [65]:
cond = apt['시군구'].eq('강남구')
apt.loc[cond, :].shape[0]

12790

In [66]:
cond = apt['시군구'].eq('강남구') | apt['시군구'].eq('서초구') | apt['시군구'].eq('송파구')
apt.loc[cond, :].shape[0]

37970

In [67]:
cond1 = apt['시군구'].eq('강남구')
cond2 = apt['시군구'].eq('서초구')
cond3 = apt['시군구'].eq('송파구')
apt.loc[cond1 | cond2 | cond3, :].shape[0]

37970

In [68]:
cond = apt['시군구'].isin(values = ['강남구', '서초구', '송파구'])
apt.loc[cond, :].shape[0]

37970

In [69]:
cond = apt['시군구'].str.contains(pat = '(강남|서초|송파)구')
apt.loc[cond, :].shape[0]

C:\Users\user\AppData\Local\Temp\ipykernel_11420\324357053.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  cond = apt['시군구'].str.contains(pat = '(강남|서초|송파)구')

37970

In [70]:
cond = apt['시군구'].isin(values = ['강남구', '강동구', '강북구', '강서구'])
apt.loc[cond, :].shape[0]

44193

In [71]:
cond = apt['시군구'].str.contains(pat = '^강')
apt.loc[cond, :].shape[0]

44193

In [72]:
cond = apt['아파트'].str.contains(pat = '래미안')
apt.loc[cond, :].shape[0]

15635

In [74]:
apt.loc[cond, '아파트'].nunique()

134

In [75]:
# 전체 거래된 아파트 중에서 '힐스테이트'를 포함하는 건수는? 6066
cond = apt['아파트'].str.contains(pat = '힐스테이트')
apt.loc[cond, :].shape[0]

6066

In [76]:
# 강남구에서 거래된 아파트 중에서 '자이'를 포함하는 건수는? 230
cond = apt['아파트'].str.contains(pat = '자이') & apt['시군구'].eq('강남구')
apt.loc[cond, :].shape[0]

230

In [77]:
# 서초구에서 거래된 '아이파크' 아파트 중에서 전용면적이 100 제곱미터 이상인 건수는? 40
cond = apt['아파트'].str.contains(pat = '아이파크') & apt['시군구'].eq('서초구') & apt['전용면적'].ge(100)
apt.loc[cond, :].shape[0]

40

In [78]:
# 용산구 한남동에서 거래된 건수는? 527
cond = apt['시군구'].eq('용산구') & apt['법정동'].eq('한남동')
apt.loc[cond, :].shape[0]

527

In [79]:
# 용산구 중에서 한남동이 아닌 법정동에서 거래된 건수는? 3791
cond = apt['시군구'].eq('용산구') & ~ apt['법정동'].eq('한남동')
apt.loc[cond, :].shape[0]

3791

In [80]:
apt.drop(columns = '지역코드')

,거래금액,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,전용면적,층
0,100500,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13
1,203000,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17
2,180000,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14
3,285000,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12
4,171000,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2
...,...,...,...,...,...,...,...,...,...,...,...,...
231899,74000,한신아파트상가동유치원동(102~102),서울특별시,중랑구,중화동,450,1998,2024,11,21,84.03,11
231900,50500,삼익아파트.상가동,서울특별시,중랑구,중화동,438,1995,2024,11,13,59.34,10
231901,60000,한신아파트상가동유치원동(103~109),서울특별시,중랑구,중화동,450,1997,2024,11,18,59.76,4
231902,67000,한신아파트상가동유치원동(102~102),서울특별시,중랑구,중화동,450,1998,2024,11,2,59.76,9
231903,11000,범양프레체,서울특별시,중랑구,중화동,208-4,2012,2024,12,7,17.94,15

In [81]:
apt.head()

,거래금액,지역코드,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,전용면적,층
0,100500,11680,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13
1,203000,11680,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17
2,180000,11680,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14
3,285000,11680,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12
4,171000,11680,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2

In [82]:
apt = apt.drop(columns = ['지역코드'])

In [83]:
apt.head()

     거래금액       아파트    시도명  시군구  법정동    지번  건축년도     년  월   일    전용면적   층
0  100500   삼익대청아파트  서울특별시  강남구  개포동    12  1992  2020  1  31   39.53  13
1  203000      개포자이  서울특별시  강남구  개포동  12-2  2004  2020  1   6  134.30  17
2  180000   개포주공6단지  서울특별시  강남구  개포동   185  1983  2020  1  14   60.13  14
3  285000  디에이치아너힐즈  서울특별시  강남구  개포동  1281  2019  2020  1   4   94.29  12
4  171000   개포주공7단지  서울특별시  강남구  개포동   185  1983  2020  1  12   60.76   2

In [84]:
df1 = apt.sample(n = 5, random_state = 1234)
df1

,거래금액,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,전용면적,층
163874,59800,삼부컨비니언,서울특별시,성북구,길음동,1276,1998,2023,9,20,59.94,14
220404,105000,한강극동,서울특별시,송파구,풍납동,508,1995,2024,6,22,84.76,13
219634,313000,레이크팰리스,서울특별시,송파구,잠실동,44,2006,2024,7,9,135.82,28
56702,144000,현대I-PARK,서울특별시,성동구,성수동2가,834,2003,2020,10,6,116.22,11
181564,96000,고덕리엔파크3단지,서울특별시,강동구,상일동,490,2011,2024,9,28,84.83,5

In [85]:
df1.drop(index = [163874, 220404])

,거래금액,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,전용면적,층
219634,313000,레이크팰리스,서울특별시,송파구,잠실동,44,2006,2024,7,9,135.82,28
56702,144000,현대I-PARK,서울특별시,성동구,성수동2가,834,2003,2020,10,6,116.22,11
181564,96000,고덕리엔파크3단지,서울특별시,강동구,상일동,490,2011,2024,9,28,84.83,5

In [88]:
df1.drop(index = df1.index[0:2])

,거래금액,아파트,시도명,시군구,법정동,지번,건축년도,년,월,일,전용면적,층
219634,313000,레이크팰리스,서울특별시,송파구,잠실동,44,2006,2024,7,9,135.82,28
56702,144000,현대I-PARK,서울특별시,성동구,성수동2가,834,2003,2020,10,6,116.22,11
181564,96000,고덕리엔파크3단지,서울특별시,강동구,상일동,490,2011,2024,9,28,84.83,5

In [89]:
apt.rename(columns = {'아파트': '단지명', '건축년도': '입주년도'})

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,년,월,일,전용면적,층
0,100500,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13
1,203000,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17
2,180000,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14
3,285000,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12
4,171000,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2
...,...,...,...,...,...,...,...,...,...,...,...,...
231899,74000,한신아파트상가동유치원동(102~102),서울특별시,중랑구,중화동,450,1998,2024,11,21,84.03,11
231900,50500,삼익아파트.상가동,서울특별시,중랑구,중화동,438,1995,2024,11,13,59.34,10
231901,60000,한신아파트상가동유치원동(103~109),서울특별시,중랑구,중화동,450,1997,2024,11,18,59.76,4
231902,67000,한신아파트상가동유치원동(102~102),서울특별시,중랑구,중화동,450,1998,2024,11,2,59.76,9
231903,11000,범양프레체,서울특별시,중랑구,중화동,208-4,2012,2024,12,7,17.94,15

In [90]:
apt.columns

Index(['거래금액', '아파트', '시도명', '시군구', '법정동', '지번', '건축년도', '년', '월', '일', '전용면적',
       '층'],
      dtype='object')

In [91]:
apt.columns = ['거래금액', '단지명', '시도명', '시군구', '법정동', '지번', 
               '입주년도', '계약년도', '계약월', '계약일', '전용면적', '층']

In [92]:
apt.head()

     거래금액       단지명    시도명  시군구  법정동    지번  입주년도  계약년도  계약월  계약일    전용면적   층
0  100500   삼익대청아파트  서울특별시  강남구  개포동    12  1992  2020    1   31   39.53  13
1  203000      개포자이  서울특별시  강남구  개포동  12-2  2004  2020    1    6  134.30  17
2  180000   개포주공6단지  서울특별시  강남구  개포동   185  1983  2020    1   14   60.13  14
3  285000  디에이치아너힐즈  서울특별시  강남구  개포동  1281  2019  2020    1    4   94.29  12
4  171000   개포주공7단지  서울특별시  강남구  개포동   185  1983  2020    1   12   60.76   2

In [98]:
# df2 = apt.set_index(keys = ['시도명', '시군구', '법정동', '지번', '단지명'])
df2 = apt.set_index(keys = '단지명')

In [99]:
df2.head()

            거래금액    시도명  시군구  법정동    지번  입주년도  계약년도  계약월  계약일    전용면적   층
단지명
삼익대청아파트   100500  서울특별시  강남구  개포동    12  1992  2020    1   31   39.53  13
개포자이      203000  서울특별시  강남구  개포동  12-2  2004  2020    1    6  134.30  17
개포주공6단지   180000  서울특별시  강남구  개포동   185  1983  2020    1   14   60.13  14
디에이치아너힐즈  285000  서울특별시  강남구  개포동  1281  2019  2020    1    4   94.29  12
개포주공7단지   171000  서울특별시  강남구  개포동   185  1983  2020    1   12   60.76   2

In [100]:
df2 = df2.reset_index()
df2.head()

        단지명    거래금액    시도명  시군구  법정동    지번  입주년도  계약년도  계약월  계약일    전용면적   층
0   삼익대청아파트  100500  서울특별시  강남구  개포동    12  1992  2020    1   31   39.53  13
1      개포자이  203000  서울특별시  강남구  개포동  12-2  2004  2020    1    6  134.30  17
2   개포주공6단지  180000  서울특별시  강남구  개포동   185  1983  2020    1   14   60.13  14
3  디에이치아너힐즈  285000  서울특별시  강남구  개포동  1281  2019  2020    1    4   94.29  12
4   개포주공7단지  171000  서울특별시  강남구  개포동   185  1983  2020    1   12   60.76   2

In [101]:
apt['평당금액'] = apt['거래금액'] / apt['전용면적'] * 3.3
apt.head()

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액
0,100500,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13,8389.830508
1,203000,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17,4988.086374
2,180000,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14,9878.596375
3,285000,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12,9974.546612
4,171000,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2,9287.360105

In [102]:
# 실수형 변수를 반올림: 원본 데이터 수정
apt.round(1)

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액
0,100500,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.5,13,8389.8
1,203000,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.3,17,4988.1
2,180000,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.1,14,9878.6
3,285000,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.3,12,9974.5
4,171000,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.8,2,9287.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
231899,74000,한신아파트상가동유치원동(102~102),서울특별시,중랑구,중화동,450,1998,2024,11,21,84.0,11,2906.1
231900,50500,삼익아파트.상가동,서울특별시,중랑구,중화동,438,1995,2024,11,13,59.3,10,2808.4
231901,60000,한신아파트상가동유치원동(103~109),서울특별시,중랑구,중화동,450,1997,2024,11,18,59.8,4,3313.3
231902,67000,한신아파트상가동유치원동(102~102),서울특별시,중랑구,중화동,450,1998,2024,11,2,59.8,9,3699.8
231903,11000,범양프레체,서울특별시,중랑구,중화동,208-4,2012,2024,12,7,17.9,15,2023.4

In [103]:
# 실수형 변수를 나타내는 포맷 설정: 원본 데이터 유지
pd.set_option('display.float_format', lambda x: f'{x:.2f}')

In [104]:
apt.head()

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액
0,100500,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13,8389.83
1,203000,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17,4988.09
2,180000,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14,9878.60
3,285000,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12,9974.55
4,171000,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2,9287.36

In [105]:
apt['거래금액'] = apt['거래금액'] / 10000
apt.head()

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액
0,10.05,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13,8389.83
1,20.30,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17,4988.09
2,18.00,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14,9878.60
3,28.50,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12,9974.55
4,17.10,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2,9287.36

In [106]:
apt['경과년수'] = apt['계약년도'] - apt['입주년도']
apt.head()

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수
0,10.05,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13,8389.83,28
1,20.30,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17,4988.09,16
2,18.00,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14,9878.60,37
3,28.50,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12,9974.55,1
4,17.10,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2,9287.36,37

In [107]:
cond = apt['경과년수'].ge(30)
apt['재건축'] = np.where(cond, '충족', '부족')
apt.head()

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,재건축
0,10.05,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13,8389.83,28,부족
1,20.30,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17,4988.09,16,부족
2,18.00,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14,9878.60,37,충족
3,28.50,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12,9974.55,1,부족
4,17.10,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2,9287.36,37,충족

In [108]:
cond = apt['경과년수'].lt(0)
apt.loc[cond, :]

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,재건축
6054,15.90,고덕자이,서울특별시,강동구,상일동,521,2021,2020,11,25,84.97,18,6175.03,-1,부족
28310,7.76,노원센트럴푸르지오,서울특별시,노원구,상계동,1355,2021,2020,2,17,85.00,10,3011.19,-1,부족
43445,8.70,휘경해모로프레스티지,서울특별시,동대문구,휘경동,375,2021,2020,10,20,59.77,17,4803.41,-1,부족
48683,12.20,마포자이더센트리지(102동~112동),서울특별시,마포구,염리동,533,2022,2020,6,16,59.99,24,6711.12,-2,부족
48684,14.99,마포자이더센트리지(102동~112동),서울특별시,마포구,염리동,533,2022,2020,6,16,84.87,17,5828.84,-2,부족
48685,12.50,마포자이더센트리지(102동~112동),서울특별시,마포구,염리동,533,2022,2020,6,16,59.99,9,6876.15,-2,부족
48715,14.90,마포자이더센트리지(102동~112동),서울특별시,마포구,염리동,533,2022,2020,9,13,85.00,2,5785.05,-2,부족
48716,20.90,마포자이더센트리지(102동~112동),서울특별시,마포구,염리동,533,2022,2020,9,3,119.31,23,5780.50,-2,부족
48741,14.10,마포자이더센트리지(102동~112동),서울특별시,마포구,염리동,533,2022,2020,12,13,59.99,21,7756.29,-2,부족
60808,8.50,래미안포레카운티,서울특별시,성북구,장위동,322,2021,2020,7,20,59.92,10,4681.24,-1,부족
63329,10.50,e편한세상송파파크센트럴,서울특별시,송파구,거여동,696,2021,2020,4,6,59.96,31,5778.85,-1,부족
63428,14.50,e편한세상송파파크센트럴,서울특별시,송파구,거여동,696,2021,2020,7,11,84.94,5,5633.39,-1,부족
63539,14.50,e편한세상송파파크센트럴,서울특별시,송파구,거여동,696,2021,2020,12,16,84.94,3,5633.39,-1,부족
70767,13.50,래미안목동아델리체(101동~118동),서울특별시,양천구,신정동,1326,2021,2020,12,26,59.98,26,7427.48,-1,부족
70848,15.70,래미안목동아델리체(101동~118동),서울특별시,양천구,신정동,1326,2021,2020,12,3,84.95,12,6098.88,-1,부족
72538,9.26,신길센트럴자이아파트,서울특별시,영등포구,신길동,4964,2021,2020,2,16,59.98,11,5094.70,-1,부족
72598,10.48,신길센트럴자이아파트,서울특별시,영등포구,신길동,4964,2021,2020,3,10,59.98,3,5765.92,-1,부족
77259,12.00,DMC롯데캐슬더퍼스트,서울특별시,은평구,수색동,417,2021,2020,11,9,84.97,11,4660.47,-1,부족
108269,14.00,마포자이더센트리지(102동~112동),서울특별시,마포구,염리동,533,2022,2021,1,16,59.99,6,7701.28,-1,부족
108299,15.25,마포자이더센트리지(102동~112동),서울특별시,마포구,염리동,533,2022,2021,7,24,59.99,20,8388.90,-1,부족
108303,17.00,마포자이더센트리지(102동~112동),서울특별시,마포구,염리동,533,2022,2021,7,10,84.87,19,6610.42,-1,부족
108315,16.80,마포자이더센트리지(102동~112동),서울특별시,마포구,염리동,533,2022,2021,8,6,84.99,24,6523.35,-1,부족
108322,18.30,마포자이더센트리지(102동~112동),서울특별시,마포구,염리동,533,2022,2021,9,9,84.87,6,7115.92,-1,부족
108325,17.85,마포자이더센트리지(102동~112동),서울특별시,마포구,염리동,533,2022,2021,10,2,84.87,6,6940.94,-1,부족
123092,5.00,은평서해그랑블,서울특별시,은평구,구산동,548,2022,2021,10,7,44.25,8,3729.13,-1,부족
134806,11.60,홍제역해링턴플레이스,서울특별시,서대문구,홍제동,474,2024,2022,6,11,59.99,10,6381.06,-2,부족
134809,11.60,홍제역해링턴플레이스,서울특별시,서대문구,홍제동,474,2024,2022,6,11,59.99,10,6381.06,-2,부족
138791,13.70,DMCSKVIEW,서울특별시,은평구,수색동,418,2023,2022,1,26,84.99,6,5319.45,-1,부족
160304,9.00,홍제역해링턴플레이스,서울특별시,서대문구,홍제동,474,2024,2023,7,22,59.99,8,4950.83,-1,부족

In [110]:
apt['단지명'].apply(len)

0          7
1          4
2          7
3          8
4          7
          ..
231899    21
231900     9
231901    21
231902    21
231903     5
Name: 단지명, Length: 231904, dtype: int64

In [116]:
cols = ['시도명', '시군구', '법정동', '지번']
apt[cols]

          시도명  시군구  법정동     지번
0       서울특별시  강남구  개포동     12
1       서울특별시  강남구  개포동   12-2
2       서울특별시  강남구  개포동    185
3       서울특별시  강남구  개포동   1281
4       서울특별시  강남구  개포동    185
...       ...  ...  ...    ...
231899  서울특별시  중랑구  중화동    450
231900  서울특별시  중랑구  중화동    438
231901  서울특별시  중랑구  중화동    450
231902  서울특별시  중랑구  중화동    450
231903  서울특별시  중랑구  중화동  208-4

[231904 rows x 4 columns]

In [117]:
apt[cols].apply(len, axis = 0)

시도명    231904
시군구    231904
법정동    231904
지번     231904
dtype: int64

In [118]:
apt[cols].apply(len, axis = 1)

0         4
1         4
2         4
3         4
4         4
         ..
231899    4
231900    4
231901    4
231902    4
231903    4
Length: 231904, dtype: int64

In [120]:
apt[cols].map(len)

        시도명  시군구  법정동  지번
0         5    3    3   2
1         5    3    3   4
2         5    3    3   3
3         5    3    3   4
4         5    3    3   3
...     ...  ...  ...  ..
231899    5    3    3   3
231900    5    3    3   3
231901    5    3    3   3
231902    5    3    3   3
231903    5    3    3   5

[231904 rows x 4 columns]

In [121]:
strs = ['I', 'am', 'a', 'boy']
' '.join(strs)

'I am a boy'

In [125]:
apt['시도명'] + ' ' + apt['시군구'] + ' ' + apt['법정동'] + ' ' + apt['지번']

0            서울특별시 강남구 개포동 12
1          서울특별시 강남구 개포동 12-2
2           서울특별시 강남구 개포동 185
3          서울특별시 강남구 개포동 1281
4           서울특별시 강남구 개포동 185
                 ...
231899      서울특별시 중랑구 중화동 450
231900      서울특별시 중랑구 중화동 438
231901      서울특별시 중랑구 중화동 450
231902      서울특별시 중랑구 중화동 450
231903    서울특별시 중랑구 중화동 208-4
Length: 231904, dtype: object

In [123]:
str_join = lambda x: ' '.join(x)

In [126]:
apt['주소'] = apt[cols].apply(str_join, axis = 1)

In [127]:
apt.head()

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,재건축,주소
0,10.05,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13,8389.83,28,부족,서울특별시 강남구 개포동 12
1,20.30,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17,4988.09,16,부족,서울특별시 강남구 개포동 12-2
2,18.00,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14,9878.60,37,충족,서울특별시 강남구 개포동 185
3,28.50,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12,9974.55,1,부족,서울특별시 강남구 개포동 1281
4,17.10,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2,9287.36,37,충족,서울특별시 강남구 개포동 185

In [128]:
apt.dtypes

거래금액    float64
단지명      object
시도명      object
시군구      object
법정동      object
지번       object
입주년도      int64
계약년도      int64
계약월       int64
계약일       int64
전용면적    float64
층         int64
평당금액    float64
경과년수      int64
재건축      object
주소       object
dtype: object

In [129]:
apt['계약년도'] = apt['계약년도'].astype(str)
apt['계약월'] = apt['계약월'].astype(str)
apt['계약일'] = apt['계약일'].astype(str)

In [130]:
apt.dtypes

거래금액    float64
단지명      object
시도명      object
시군구      object
법정동      object
지번       object
입주년도      int64
계약년도     object
계약월      object
계약일      object
전용면적    float64
층         int64
평당금액    float64
경과년수      int64
재건축      object
주소       object
dtype: object

In [131]:
apt = apt.astype(dtype = {'계약년도': int, '계약월': int, '계약일': int})
apt.dtypes

거래금액    float64
단지명      object
시도명      object
시군구      object
법정동      object
지번       object
입주년도      int64
계약년도      int64
계약월       int64
계약일       int64
전용면적    float64
층         int64
평당금액    float64
경과년수      int64
재건축      object
주소       object
dtype: object

In [132]:
cols = ['계약년도', '계약월', '계약일']
apt[cols] = apt[cols].astype(str)
apt.dtypes

거래금액    float64
단지명      object
시도명      object
시군구      object
법정동      object
지번       object
입주년도      int64
계약년도     object
계약월      object
계약일      object
전용면적    float64
층         int64
평당금액    float64
경과년수      int64
재건축      object
주소       object
dtype: object

In [133]:
apt['계약년도'] + '-' + apt['계약월'] + '-' + apt['계약일']

0          2020-1-31
1           2020-1-6
2          2020-1-14
3           2020-1-4
4          2020-1-12
             ...
231899    2024-11-21
231900    2024-11-13
231901    2024-11-18
231902     2024-11-2
231903     2024-12-7
Length: 231904, dtype: object

In [137]:
apt['계약일자'] = apt[cols].apply(lambda x: '-'.join(x), axis = 1)
apt.head()

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,재건축,주소,계약일자
0,10.05,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13,8389.83,28,부족,서울특별시 강남구 개포동 12,2020-1-31
1,20.30,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17,4988.09,16,부족,서울특별시 강남구 개포동 12-2,2020-1-6
2,18.00,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14,9878.60,37,충족,서울특별시 강남구 개포동 185,2020-1-14
3,28.50,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12,9974.55,1,부족,서울특별시 강남구 개포동 1281,2020-1-4
4,17.10,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2,9287.36,37,충족,서울특별시 강남구 개포동 185,2020-1-12

In [139]:
apt['계약일자'] = apt['계약일자'].astype('datetime64[ns]')

In [140]:
apt.dtypes

거래금액           float64
단지명             object
시도명             object
시군구             object
법정동             object
지번              object
입주년도             int64
계약년도            object
계약월             object
계약일             object
전용면적           float64
층                int64
평당금액           float64
경과년수             int64
재건축             object
주소              object
계약일자    datetime64[ns]
dtype: object

In [141]:
apt.head()

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,재건축,주소,계약일자
0,10.05,삼익대청아파트,서울특별시,강남구,개포동,12,1992,2020,1,31,39.53,13,8389.83,28,부족,서울특별시 강남구 개포동 12,2020-01-31
1,20.30,개포자이,서울특별시,강남구,개포동,12-2,2004,2020,1,6,134.30,17,4988.09,16,부족,서울특별시 강남구 개포동 12-2,2020-01-06
2,18.00,개포주공6단지,서울특별시,강남구,개포동,185,1983,2020,1,14,60.13,14,9878.60,37,충족,서울특별시 강남구 개포동 185,2020-01-14
3,28.50,디에이치아너힐즈,서울특별시,강남구,개포동,1281,2019,2020,1,4,94.29,12,9974.55,1,부족,서울특별시 강남구 개포동 1281,2020-01-04
4,17.10,개포주공7단지,서울특별시,강남구,개포동,185,1983,2020,1,12,60.76,2,9287.36,37,충족,서울특별시 강남구 개포동 185,2020-01-12

In [142]:
apt['계약일자'].dt.dayofweek

0         4
1         0
2         1
3         5
4         6
         ..
231899    3
231900    2
231901    0
231902    5
231903    5
Name: 계약일자, Length: 231904, dtype: int32

In [144]:
apt['계약일자'].dt.day_name(locale = 'ko_KR')

0         금요일
1         월요일
2         화요일
3         토요일
4         일요일
         ...
231899    목요일
231900    수요일
231901    월요일
231902    토요일
231903    토요일
Name: 계약일자, Length: 231904, dtype: object

In [147]:
apt['계약일자'].dt.day_name(locale = 'ko_KR').value_counts(normalize = True) * 100

계약일자
토요일   24.87
월요일   14.42
금요일   14.38
화요일   14.10
수요일   14.08
목요일   13.40
일요일    4.75
Name: proportion, dtype: float64

In [151]:
apt['계약일자'].dt.strftime(date_format = '%Y-%m-%d %a')

0         2020-01-31 Fri
1         2020-01-06 Mon
2         2020-01-14 Tue
3         2020-01-04 Sat
4         2020-01-12 Sun
               ...
231899    2024-11-21 Thu
231900    2024-11-13 Wed
231901    2024-11-18 Mon
231902    2024-11-02 Sat
231903    2024-12-07 Sat
Name: 계약일자, Length: 231904, dtype: object

In [153]:
apt['계약일자'].dt.strftime(date_format = '%a %b %d, %Y')

0         Fri Jan 31, 2020
1         Mon Jan 06, 2020
2         Tue Jan 14, 2020
3         Sat Jan 04, 2020
4         Sun Jan 12, 2020
                ...
231899    Thu Nov 21, 2024
231900    Wed Nov 13, 2024
231901    Mon Nov 18, 2024
231902    Sat Nov 02, 2024
231903    Sat Dec 07, 2024
Name: 계약일자, Length: 231904, dtype: object

In [155]:
birth = pd.to_datetime(arg = ['2000년 1월 1일', '1999년 12월 31일'], 
                       format = '%Y년 %m월 %d일')
birth

DatetimeIndex(['2000-01-01', '1999-12-31'], dtype='datetime64[ns]', freq=None)

In [156]:
birth[0]

Timestamp('2000-01-01 00:00:00')

In [157]:
birth[0].timestamp()

946684800.0

In [158]:
today = pd.Timestamp.today()
today, today.timestamp()

(Timestamp('2025-05-26 17:16:16.216032'), 1748279776.216032)

In [160]:
dtGap = today - birth[0]
dtGap.days

9277

In [162]:
dtGap.days * 3 * 8000

222648000

In [163]:
ages = pd.Series(data = [29, 33, 27, 43, 'NULL'])
ages

0      29
1      33
2      27
3      43
4    NULL
dtype: object

In [164]:
ages.astype(int)

ValueError: invalid literal for int() with base 10: 'NULL'

In [165]:
pd.to_numeric(arg = ages, errors = 'coerce')

0   29.00
1   33.00
2   27.00
3   43.00
4     NaN
dtype: float64

In [166]:
df3 = apt.loc[:, '거래금액':'재건축'].sample(n = 5, random_state = 3)
df4 = apt.loc[:, '거래금액':'재건축'].sample(n = 5, random_state = 4)

In [170]:
display(df3.head(1))
display(df4.head(1))

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,재건축
6417,7.00,신일유토빌(603-0),서울특별시,강동구,성내동,603,2004,2020,7,11,76.41,6,3023.16,16,부족

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,재건축
31367,5.27,상계주공6(고층),서울특별시,노원구,상계동,720,1988,2020,12,21,41.30,11,4210.90,32,충족

In [171]:
df3.columns.equals(df4.columns)

True

In [172]:
pd.concat(objs = [df3, df4])

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,재건축
6417,7.00,신일유토빌(603-0),서울특별시,강동구,성내동,603,2004,2020,7,11,76.41,6,3023.16,16,부족
203576,7.95,대상3,서울특별시,마포구,망원동,491,2000,2024,7,5,84.90,4,3090.11,24,부족
36834,3.95,청구아파트,서울특별시,도봉구,방학동,734,1994,2020,6,3,84.97,13,1534.07,26,부족
107201,2.60,신촌포스빌,서울특별시,마포구,노고산동,1-3,2004,2021,10,29,32.34,6,2653.06,17,부족
216924,10.95,우성,서울특별시,송파구,가락동,96-1,1986,2024,8,31,58.46,1,6181.15,38,충족
31367,5.27,상계주공6(고층),서울특별시,노원구,상계동,720,1988,2020,12,21,41.30,11,4210.90,32,충족
24636,3.80,동부(101동~103동),서울특별시,구로구,오류동,336,1998,2020,7,4,59.98,9,2090.70,22,부족
195165,6.53,극동의푸른별1차,서울특별시,노원구,중계동,600,2005,2024,3,8,84.97,13,2536.07,19,부족
27958,3.00,상계주공1(고층),서울특별시,노원구,상계동,765,1988,2020,1,28,32.39,11,3055.48,32,충족
55751,10.95,금호자이2차,서울특별시,성동구,금호동3가,700,2012,2020,6,17,84.98,6,4252.20,8,부족

In [173]:
pd.concat(objs = [df3, df4], ignore_index = True)

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,재건축
0,7.00,신일유토빌(603-0),서울특별시,강동구,성내동,603,2004,2020,7,11,76.41,6,3023.16,16,부족
1,7.95,대상3,서울특별시,마포구,망원동,491,2000,2024,7,5,84.90,4,3090.11,24,부족
2,3.95,청구아파트,서울특별시,도봉구,방학동,734,1994,2020,6,3,84.97,13,1534.07,26,부족
3,2.60,신촌포스빌,서울특별시,마포구,노고산동,1-3,2004,2021,10,29,32.34,6,2653.06,17,부족
4,10.95,우성,서울특별시,송파구,가락동,96-1,1986,2024,8,31,58.46,1,6181.15,38,충족
5,5.27,상계주공6(고층),서울특별시,노원구,상계동,720,1988,2020,12,21,41.30,11,4210.90,32,충족
6,3.80,동부(101동~103동),서울특별시,구로구,오류동,336,1998,2020,7,4,59.98,9,2090.70,22,부족
7,6.53,극동의푸른별1차,서울특별시,노원구,중계동,600,2005,2024,3,8,84.97,13,2536.07,19,부족
8,3.00,상계주공1(고층),서울특별시,노원구,상계동,765,1988,2020,1,28,32.39,11,3055.48,32,충족
9,10.95,금호자이2차,서울특별시,성동구,금호동3가,700,2012,2020,6,17,84.98,6,4252.20,8,부족

In [174]:
df3 = df3.rename(columns = {'재건축': '재건축연한'})

In [175]:
df3.columns.equals(df4.columns)

False

In [176]:
pd.concat(objs = [df3, df4], ignore_index = True)

,거래금액,단지명,시도명,시군구,법정동,지번,입주년도,계약년도,계약월,계약일,전용면적,층,평당금액,경과년수,재건축연한,재건축
0,7.00,신일유토빌(603-0),서울특별시,강동구,성내동,603,2004,2020,7,11,76.41,6,3023.16,16,부족,NaN
1,7.95,대상3,서울특별시,마포구,망원동,491,2000,2024,7,5,84.90,4,3090.11,24,부족,NaN
2,3.95,청구아파트,서울특별시,도봉구,방학동,734,1994,2020,6,3,84.97,13,1534.07,26,부족,NaN
3,2.60,신촌포스빌,서울특별시,마포구,노고산동,1-3,2004,2021,10,29,32.34,6,2653.06,17,부족,NaN
4,10.95,우성,서울특별시,송파구,가락동,96-1,1986,2024,8,31,58.46,1,6181.15,38,충족,NaN
5,5.27,상계주공6(고층),서울특별시,노원구,상계동,720,1988,2020,12,21,41.30,11,4210.90,32,NaN,충족
6,3.80,동부(101동~103동),서울특별시,구로구,오류동,336,1998,2020,7,4,59.98,9,2090.70,22,NaN,부족
7,6.53,극동의푸른별1차,서울특별시,노원구,중계동,600,2005,2024,3,8,84.97,13,2536.07,19,NaN,부족
8,3.00,상계주공1(고층),서울특별시,노원구,상계동,765,1988,2020,1,28,32.39,11,3055.48,32,NaN,충족
9,10.95,금호자이2차,서울특별시,성동구,금호동3가,700,2012,2020,6,17,84.98,6,4252.20,8,NaN,부족

In [177]:
os.listdir()

['APT_Detail_Seoul_2024.csv',
 'APT_Detail_Seoul_2024.xlsx',
 'APT_List.pkl',
 'APT_Price_Seoul(2020~2024).xlsx',
 'APT_Price_Seoul_2020.csv',
 'APT_Price_Seoul_2021.csv',
 'APT_Price_Seoul_2022.csv',
 'APT_Price_Seoul_2023.csv',
 'APT_Price_Seoul_2024.csv',
 'KBO_Hitter_Stats_2024.csv',
 'KBO_Pitcher_Stats_2024.csv',
 'MPRC_2024.csv',
 'MPRC_2024.xlsx',
 'MPRC_List.xlsx',
 'MPRC_List_2.xlsx',
 'NA_Sample.xlsx']

In [178]:
dtl = pd.read_excel('APT_Detail_Seoul_2024.xlsx')

In [179]:
dtl.head()

,아파트ID,아파트명,지번주소,위도,경도,동수,세대수,임대수,용적률,건폐율,주차대수,건설사
0,146479,YH빌리지,서울시 강남구 개포동 1237-8,37.48,127.05,1,16,0,297,59,9,(주)세담종합건설
1,881,개포더샵트리에,서울시 강남구 개포동 651-1,37.48,127.06,2,232,0,355,30,305,(주)포스코건설
2,119219,개포래미안포레스트,서울시 강남구 개포동 1282,37.48,127.05,31,2296,120,249,21,3961,삼성물산(주)
3,140057,개포비버리하임(도시형),서울시 강남구 개포동 1193-5,37.47,127.05,2,29,0,199,57,30,(주)덕인컨스텍
4,107513,개포상지리츠빌,서울시 강남구 개포동 176-1,37.49,127.06,1,18,0,202,31,41,상지건영(주)

In [180]:
dtl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10725 entries, 0 to 10724
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   아파트ID   10725 non-null  int64
 1   아파트명    10725 non-null  object
 2   지번주소    10725 non-null  object
 3   위도      10725 non-null  float64
 4   경도      10725 non-null  float64
 5   동수      10725 non-null  int64
 6   세대수     10725 non-null  int64
 7   임대수     10725 non-null  int64
 8   용적률     10725 non-null  int64
 9   건폐율     10725 non-null  int64
 10  주차대수    10725 non-null  int64
 11  건설사     10141 non-null  object
dtypes: float64(2), int64(7), object(3)
memory usage: 1005.6+ KB

In [182]:
dtl = dtl.rename(columns = {'아파트명': '단지명', '지번주소': '주소'})

In [185]:
len(set(apt['단지명']))

7057

In [186]:
len(set(apt['단지명']) & set(dtl['단지명']))

2736

In [187]:
len(set(apt['주소']))

8074

In [188]:
len(set(apt['주소']) & set(dtl['주소']))

0

In [189]:
apt['주소'].head()

0      서울특별시 강남구 개포동 12
1    서울특별시 강남구 개포동 12-2
2     서울특별시 강남구 개포동 185
3    서울특별시 강남구 개포동 1281
4     서울특별시 강남구 개포동 185
Name: 주소, dtype: object

In [190]:
dtl['주소'].head()

0    서울시 강남구 개포동 1237-8
1     서울시 강남구 개포동 651-1
2      서울시 강남구 개포동 1282
3    서울시 강남구 개포동 1193-5
4     서울시 강남구 개포동 176-1
Name: 주소, dtype: object

In [191]:
apt['주소'] = apt['주소'].str.replace(pat = '특별', repl = '')

In [192]:
len(set(apt['주소']) & set(dtl['주소']))

7147